.footer{
    height: 250px;
    background: rgb(245, 236, 211);
}
.footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-copy{
    display: flex;
    align-items: center;
    justify-content: center;
}