.manageinventories{
    height: 1000px;
}
.manageinventories button{
    border-radius: 5px;
    border: none;
    padding: 5px 7px;
}
.bg-delete{
    background-color: bisque;
}
.bg-delete:hover{
    background-color: rgb(255, 8, 0);
}